In [0]:
import pandas as pd
import numpy as np
import tweepy 
from textblob import TextBlob
import re

In [0]:
consumer_key = 'Your consumer key'
consumer_secret = 'Your consumer secret'
access_token = 'Your access token'
access_token_secret = 'Your access token secret'

In [0]:
def twitter():
    # Creating the authentication object
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
    # Setting your access token and secret
    auth.set_access_token(access_token, access_token_secret) 
    # Creating the API
    api = tweepy.API(auth, wait_on_rate_limit = True)  
    return api

In [0]:
# Creating tw object
tw = twitter()

In [0]:
search1 = tw.search(q = "India China", count = 200)

In [0]:
search2 = tw.search(q = "covid", count = 200, lang ="en")

DataFrame creation

In [7]:
df1 = pd.DataFrame([tweets.text for tweets in search1],
                   columns=['Tweets'])
df1.head(10)

                                              Tweets
0  RT @arunrajpaul: Elephant issue was an intelle...
1  RT @TheWolfpackIN: Frustrated with India becom...
2  India demands China to remove its troops, stru...
3  RT @Republic_Bharat: भारत-चीन अधिक जांच करें त...
4  RT @Saffron_Kashmir: Exit The Dragon!!!!\nBoyc...
5  RT @Saffron_Kashmir: Exit The Dragon!!!!\nBoyc...
6  RT @Saffron_Kashmir: Exit The Dragon!!!!\nBoyc...
7  RT @aajtak: सामाजिक, आर्थिक और राजनीतिक...  हर...
8  RT @harsh_thapar: Sadly a missed opportunity f...
9  RT @believer_dhawal: I swear, I will promote A...

In [8]:
df2 = pd.DataFrame([tweets.text for tweets in search2], columns=['Tweets'])
df2.head(10)

                                              Tweets
0  India will have more COVID-19 cases if it cond...
1  RT @DeadlyGomeroi: If people where as concerne...
2  RT @wellcometrust: More than 20,000 visitors a...
3  RT @yourrightscamp: As COVID-19 still kills pp...
4  RT @Ch_AnilKumarINC: 75-year-old moves Delhi H...
5  RT @AskAnshul: There are many pregnant prisone...
6  RT @pstamase: We took COVID seriously because ...
7  RT @jacquisneal: Pass it on. CVS is doing free...
8  RT @LambaAlka: Turned away from hospitals, my ...
9  RT @moandtaff: #borisvoteofnoconfidence\nThe Q...

In [0]:
def clean(x):
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", x).split())

In [0]:
df1['Tweets'] = df1['Tweets'].apply(clean)
df2['Tweets'] = df2['Tweets'].apply(clean)

In [11]:
df1.head()

                                              Tweets
0  RT Elephant issue was an intellegent cover up ...
1  RT Frustrated with India becoming UNSC member ...
2  India demands China to remove its troops struc...
3                                       RT Bharat 19
4  RT Kashmir Exit The Dragon Boycott Chinese Pro...

In [12]:
df2.head()

                                              Tweets
0  India will have more COVID 19 cases if it cond...
1  RT If people where as concerned about racism a...
2  RT More than 20 000 visitors and 15 000 meals ...
3  RT As COVID 19 still kills ppl cops seized mas...
4  RT AnilKumarINC 75 year old moves Delhi HC for...

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tweets  100 non-null    object
dtypes: object(1)
memory usage: 928.0+ bytes

In [0]:
def polarity_calc(tweet):
    return TextBlob(tweet).sentiment.polarity

def subjectivity_calc(tweet):
    return TextBlob(tweet).sentiment.subjectivity

In [0]:
df1['polarity'] = df1['Tweets'].apply(polarity_calc)
df1['subjectivity'] = df1['Tweets'].apply(subjectivity_calc)
df2['polarity'] = df2['Tweets'].apply(polarity_calc)
df2['subjectivity'] = df1['Tweets'].apply(subjectivity_calc)

In [16]:
df1.head()

                                              Tweets  polarity  subjectivity
0  RT Elephant issue was an intellegent cover up ...     0.000         0.000
1  RT Frustrated with India becoming UNSC member ...    -0.125         0.525
2  India demands China to remove its troops struc...     0.000         0.000
3                                       RT Bharat 19     0.000         0.000
4  RT Kashmir Exit The Dragon Boycott Chinese Pro...     0.000         0.000

In [17]:
df2.head()

                                              Tweets  polarity  subjectivity
0  India will have more COVID 19 cases if it cond...      0.50         0.000
1  RT If people where as concerned about racism a...      0.55         0.525
2  RT More than 20 000 visitors and 15 000 meals ...      0.25         0.000
3  RT As COVID 19 still kills ppl cops seized mas...      0.00         0.000
4  RT AnilKumarINC 75 year old moves Delhi HC for...      0.10         0.000